<h1>Dear Dr. Bean Letters</h1>


<div class=letters style="margin-top:50px">
	<div style="margin-bottom:30px">
	 <%= image_tag "coffee-experiments-square-tall-mug.png", :height => "180px"%>
	 <%= image_tag "coffee-experiments-cup-pigandpepper.jpg", :height => "200px"%>
	 <%= image_tag "coffee-experiments-square-beans.png", :height => "180px"%>
    </div>

	<p class=date style="text-align:right">September 17th, 2013</p>
	<p class=addressee>Dear Dr. Bean</p>
	<p>I have been researching coffee brew methods for some time and would like to know if there is actually a difference between all these different brewing methods. I think it is a lot of hype for not a lot of difference.</p>
	<p>Do you have a suggestion for how best to understand these differences?</p>
	<p>Sincerly,</p>
	<p>Mister Brew</p>
</div>

<div style="margin-top:50px">
	<%= image_tag "coffee-experiments-square-pourover.png", :height => "150px"%> 
	<%= image_tag "coffee-experiments-me-stumptown.jpg", :height => "200px"%>
	<%= image_tag "coffee-experiments-square-filter.png", :height => "150px"%>

</div>
<form action="MAILTO:molly@elephantfig.com?subject=Coffee Experiments" method="post" enctype="text/plain">
	<div class=inquiryform>
		<div style="float:right; padding-top: 85px; padding-right:60px">
			<input type="image" src="<%= image_url "coffee-experiments-inquiry-send.png"%>" style="height:60px; border:none">
			</input>
		</div>
		<div style="padding-top:85px">
			<input class=inquiryform type="text" name="Name" value size="33">
			</input>		
		</div>
		<div style="padding-top:23px">
			<input class=inquiryform type="text" name="Email" value size="33">
			</input>
		</div>
		<div style="padding-top:35px">
			<input class=inquiryform type="text" name="Subject" value size="33">
			</input>
		</div>
		<div style="padding-top:47px; margin-left:45px">
			<textarea class=inquiryform type="text" name="Question" style="border:none; padding-left:5px; height:90px; width:400px"></textarea>
		</div>
	</div>
</form>




