<h1>Coffee Creativity</h1>

<div class=ideas>
  <div>
      <%= image_tag "thumbs/coffee-experiements-stand.jpg", :height => "400px"%>
      <%= image_tag "thumbs/coffee-experiments-caltrain-cozy.jpg", :height => "400px"%>
  </div>

  <p>
    Mason jars make excellent travel mugs. V-60 pourover prepared on this hand-crafted wooden brew stand, made to fit the ball jar. The crocheted jar cozy keeps it warm from home to train via bicycle on the daily SF-PA commute.
  </p>
</div>

<div class=ideas>
  <div>
    <%= image_tag "thumbs/coffee-experiments-sightglass-4.jpg", :height => "270px"%>
    <%= image_tag "thumbs/coffee-experiments-sightglass-1.jpg", :height => "270px"%>
    <%= image_tag "thumbs/coffee-experiments-soy-coldbrew.jpg", :height => "270px"%>
  </div>

  <p>
    But in case you ran out of beans at home, you can stop in Sight Glass on 7th Street in San Francisco. Or maybe it's time for a cold brew with vanilla soy... They roast their beans on the spot.
  </p>
</div>

<div class=ideas>
  <div>
    <%= image_tag "thumbs/coffee-experiments-fourbarrel-jars.jpg", :height => "300px"%>
    <%= image_tag "thumbs/coffee-experiments-fourbarrel-roaster.jpg", :height => "300px"%>

  </div>

  <p>
    Maybe you might find yourself in the Mission District where Fourbarrel takes residence. They too roast their beans onsite. The community style seating and local art contributes to the heavy hipster atmosphere expected to be found on Valencia St.
  </p>
</div>

<div class=ideas>
  <div>
    <%= image_tag "thumbs/coffee-experiments-siphon-brewer.jpg",:height => "300px"%>
    <%= image_tag "thumbs/coffee-experiments-bluemountain.jpg", :height => "300px"%>
  </div>

  <p>
    Siphon brewers in Taiwan with Blue Mountain coffee. An unexpected place to have found this coffee kiosk in the middle of a super mall in Taipei, but good coffee is not dependent on the surroundings, only enhanced.
  </p>
</div>


<div class=ideas>
  <div>
    <%= image_tag "thumbs/coffee-experiments-stumptown-1.jpg", :height => "270px"%>
		<%= image_tag "thumbs/coffee-experiments-cup-stumptown.jpg", :height => "270px"%>
  </div>

  <p>
    Coffee from Stumptown in Portland, OR, brings flavors from the northwest. We are lucky enough to have it brewed by local shops, including Flour and Co, on Hyde and California by the Trader Joes. This particular brew was enjoyed in Portland herself, after a 10hr drive from SF. 
  </p>
</div>

<div class=ideas>
  <div>
    <%= image_tag "thumbs/coffee-experiments-wreckingball-1.jpg", :height => "300px"%>
    <%= image_tag "thumbs/coffee-experiments-wreckingball-2.jpg", :height => "300px"%>
  </div>

  <p>
    Wrecking Ball Coffee, located on Union St on the north side of SF, makes the best pour over brew. A large statement for a relatively new roaster, but their use of a Kalita pourover makes all the difference. This method allows for the beans to be immersed, but not over brewed, and reach the full potential of expertly sourced and roasted beans.
  </p>
</div>

<div class=ideas>
  <div>
    <%= image_tag "thumbs/coffee-experiments-contraband-1.jpg", :height => "270px"%>
    <%= image_tag "thumbs/coffee-experiments-contraband-4.jpg", :height => "270px"%>
    <%= image_tag "thumbs/coffee-experiments-contraband-3.jpg", :height => "270px"%>
  </div>

  <p>
    Contraband roasts their coffee a bit darker than the typical SF roasters, medium roasts being the lightest they serve. A cappuccino rounds out and presents this espresso nicely. Also SF based, located on California in Nob Hill.
  </p>


<%= image_tag "thumbs/coffee-experiments-sightglass-2.jpg", :height => "300px"%>
<%= image_tag "thumbs/coffee-experiments-hario-grinder-sightglass.jpg",:height => "300px"%>
<%= image_tag "thumbs/coffee-experiments-sightglass-7.jpg", :height => "300px"%>

<%= image_tag "thumbs/coffee-experiments-sightglass-5.jpg", :height => "300px"%>
<%= image_tag "thumbs/coffee-experiments-sightglass-6.jpg", :height => "300px"%>
<%= image_tag "thumbs/coffee-experiments-contraband-2.jpg", :height => "300px"%>
<%= image_tag "thumbs/coffee-experiments-contraband-5.jpg", :height => "300px"%>
<%= image_tag "thumbs/coffee-experiments-wreckingball-3.jpg", :height => "300px"%>

<%= image_tag "thumbs/coffee-experiments-four-barrel-beans.jpg", :height => "300px"%>
<%= image_tag "thumbs/coffee-experiments-mug-side-pigpepper.jpg", :height => "300px"%>

<%= image_tag "thumbs/coffee-experiments-cup-transfer.jpg", :height => "300px"%>

<%= image_tag "thumbs/coffee-experiments-masonjar.jpg", :height => "300px"%>
<%= image_tag "thumbs/coffee-experiments-mug-rack.jpg", :height => "300px"%>
<%= image_tag "thumbs/coffee-experiments-sign.jpg", :height => "300px"%>
<%= image_tag "thumbs/coffee-experiments-siphon-maker.jpg", :height => "300px"%>

<%= image_tag "thumbs/coffee-experiments-coffeeshop.jpg", :height => "300px"%>
<%= image_tag "thumbs/coffee-experiments-sightglass-8.jpg", :height => "300px"%>
<%= image_tag "thumbs/coffee-experiments-clever-sightglass.jpg", :height => "300px"%>


<%= image_tag "coffee_experiments_howtobuildabike.png", :height => "200px", :title => "coffe and bicycles combine = a caffeinated ride!" %>

<center><p style="margin: auto; display: inline-block" class="experiment">
  If you enjoyed this, you will probably also enjoy <a class=linktosite href="https://howtobuilda.bike">
  How to Build a Bicycle </a>
</p></center>

