<h1> The Coffee Experiments </h1>
<div>
	<div>
		<p>How do you enjoy your daily brew? There is a rapidly growing popular culture around coffee and various brewing methods. Are we succumbing to the allure of peer pressure or do all of these intricate gadgets actually make a difference? Thus the Coffee Experiments began.</p>

		<%= image_tag "collage-photo-coffee-experiments.jpg" %>
	</div>
	<div>
		<h4>Experimental Variables</h4>

			<p>Below are the variables that have the largest affect on the brew, and therefore we will use these to help define our experimental parameters.</p>
<div class=grid>
		<div style="width:390px; height:200px; top:70px; left:31px; position: absolute">
			<h5>Bean Ratio</h5>
			<p class=grid>The more coffee you use and less water, the stronger the resulting cup. We define the amount of coffee to use as a ratio by weight, as different brewing methods make different amounts of coffee.</p>
		</div>
		<div style="width:340px; height:200px; top:14px; left:440px; position: absolute">
			<p class=grid>Depending on how long you leave your coffee immersed in water will determine the flavours and oils that will be extracted from the bean. This is often broken into two phases: bloom time and immersion time. Bloom time is used to remove unwanted gasses from the coffee, and immersion time is used to extract desired flavours.</P>
			<h5 style="position:relative; left: 80px">Time</h5>
		</div>
		<div style="width:310px; height:300px; top:282px; left:60px; position: absolute">
			<p class=grid>The surface area the ground has exposed to the water is determined by the grind. The finer the ground the more surface area. How finely your beans have been ground affects the taste in subtle ways.  In some methods too fine a grind will lead to gritty coffee, in others too coarse a grind will lead to a bland cup of coffee.</p>
			<h5 style="position:relative; left: 35px; margin-top: 7px">Grind</h5>
		</div>
		<div style="width:364px; height:200px; top:318px; left:378px; position: absolute">
			<h5 style="position:relative; right: 37px">Temperature</h5>
			<p class=grid>Not only does the temperature at brew time change which oils are extracted from the coffee, the temperature at drinking time changes your perception of the flavour. Often you can't fully appreciate a coffee until it has cooled a little.</p>
		</div>
		<div style="width:720px; height:400px; top:616px; left:40px; position: absolute">
			<p class=grid>The most subjective of all variables is of course the underlying bean. Each varietal and growing region supplies its own character. The character is then enhanced by the roasting process, and subsequent storage of the beans. For each of our sets of experiments we used beans from the same bag, about a week after roasting, to let us concentrate on the finer differences introduced by the brewing methods.</p>
			<h5 style="position:relative; margin-top: 3px">Bean & Roast</h5>
		</div>
		</div>
	</div>
</div>

<div class=experiment>
	<h1>Experiment 1: Brew Methods Overview</h1>

	<p>
		Question: So what are all these brew methods about? Do they really make a difference to the cup of coffee? We decided to compare a few different methods to see what we could find.
	</p>

	<p>
		Hypothesis: There is a difference between the brew methods, but may depend on the sensitivity and expertise of the taster’s palate.
	</p>

	<div class=experimentimg>
		<%= image_tag "coffee-experiments-science-dripper.png", :height => "300px" %>
		<%= image_tag "coffee-experiments-fourbarrel-jars.jpg", :height => "300px" %>
	</div>

	<p>
		Purpose:  To compare various methods of making a cup of coffee. Compare how each method affects the quality, flavor, and experience of the cup.
	</p>

	<p>Variables:</p>
	<p class=experiment>
		Dependent: Method of cup brewing. i.e. French Press, Pour Over, Clever, Moka Pot, Aeropress. In this experiment we compare 4 different methods. 
	</p>
	<p class=experiment>
		Indepent: Type of bean, roast, water source, water termperature (per brew method), grinds
	</p>
	

	<p>Materials</p>
	<div class=brewlink>
		<table class=brewlink>
			<tr>
				<td><li>
				<a href="<%=methods_frenchpress_path %>">
				<%= image_tag "coffee-experiments-sq-clever.png", :height => "100px" %></a>
				French Press
				<li></td>
				<td><li>
				<a href="<%=methods_pourover_path %>">
				<%= image_tag "coffee-experiments-sq-pourover.png", :height => "100px" %></a>
				Pourover
				</li></td>
				<td><li>
				<a href="<%methods_clever_path %>">
				<%= image_tag "coffee-experiments-sq-frenchpress.png", :height => "100px" %></a>
				Clever
				</li></td>
			</tr>
		</table>
	</div>

	<p class=experiment>
		Using the same beans, same water source (filtered tap water), and following the basci brew methods instructions as described on the other pages, we brewed 4 different cups of coffee. They were all finished being made withint 5 min of each other so their flavors could be compared at the same temperature. 
	</p>

	<%= image_tag "coffee-experiments-square-beans.png", :height => "100px" %>

	<p>Procedures</p>
	
	<ol class=instructions>
		<li> Following the methods on the other pages, we made some kick butt coffee and it was great. </li>
		<li>weet, eu roast, frappuccino froth dark frappuccino single shot that acerbic, single origin cortado, espresso white robusta beans, id espresso grinder in arabica iced.</li>
		<li>Aroma wings, so frappuccino, irish latte, robusta, kopi-luwak mazagran aroma, single origin americano extra percolator cream beans crema. Skinny frappuccino rich cream, grounds grinder, café au lait half and half saucer café au lait saucer affogato trifecta.</li>
		<li>Wings irish, caffeine eu chicory mazagran crema dripper coffee caffeine lungo, cup beans, sweet a cortado to go robusta, white, redeye half and half dark that brewed. Mazagran, cortado iced, chicory, cultivar dripper lungo mug con panna white dark filter espresso strong.</li>
		<li>Aroma wings, so frappuccino, irish latte, robusta, kopi-luwak mazagran aroma, single origin americano extra percolator cream beans crema.</li>
	</ol>



	<%= image_tag "coffee-experiments-square-kettle-2.png", :height => "100px" %>

	<p>Observations</p>
	<p class=experiment>
		1. Following the methods on the other pages, we made some kick butt coffee and it was great.
		2. weet, eu roast, frappuccino froth dark frappuccino single shot that acerbic, single origin cortado, espresso white robusta beans, id espresso grinder in arabica iced.
		3. Aroma wings, so frappuccino, irish latte, robusta, kopi-luwak mazagran aroma, single origin americano extra percolator cream beans crema. Skinny frappuccino rich cream, grounds grinder, café au lait half and half saucer café au lait saucer affogato trifecta.
		4. Wings irish, caffeine eu chicory mazagran crema dripper coffee caffeine lungo, cup beans, sweet a cortado to go robusta, white, redeye half and half dark that brewed. Mazagran, cortado iced, chicory, cultivar dripper lungo mug con panna white dark filter espresso strong. 
		5. Aroma wings, so frappuccino, irish latte, robusta, kopi-luwak mazagran aroma, single origin americano extra percolator cream beans crema. 
	</p>

	<%= image_tag "coffee-experiments-square-v60-2.png", :height => "100px" %>

	<p>Conclusion</p>
	<p class=experiment>
		1. Following the methods on the other pages, we made some kick butt coffee and it was great.
		2. weet, eu roast, frappuccino froth dark frappuccino single shot that acerbic, single origin cortado, espresso white robusta beans, id espresso grinder in arabica iced.
		3. Aroma wings, so frappuccino, irish latte, robusta, kopi-luwak mazagran aroma, single origin americano extra percolator cream beans crema. Skinny frappuccino rich cream, grounds grinder, café au lait half and half saucer café au lait saucer affogato trifecta.
		4. Wings irish, caffeine eu chicory mazagran crema dripper coffee caffeine lungo, cup beans, sweet a cortado to go robusta, white, redeye half and half dark that brewed. Mazagran, cortado iced, chicory, cultivar dripper lungo mug con panna white dark filter espresso strong. 
		5. Aroma wings, so frappuccino, irish latte, robusta, kopi-luwak mazagran aroma, single origin americano extra percolator cream beans crema. 
	</p>

	<%= image_tag "coffee-experiments-square-scale.png", :height => "100px" %>


</div>




