<h2>Brew Method: Clever</h2>
<div>
    <div  class=brewimage style="height:120px">
        <%= image_tag "thumbs/coffee-experiments-clever.png" %>
    </div>
  <p>
    The Clever is a hybrid full-immersion and filtered brew method. Keeping the best features from the french press and the pour over, but removing some of the drawbacks by controlling the steeping time, and filtering out any suspended particulates. Coffee made with a Clever tends to be full bodied with a smooth finish.
  </p>
</div>

<h3>Clever Brew Calculator</h3>

  <div class=calctable>
    <div class="presscalcimages">
      <div class="calcapparatusimage calcimage">
        <div data-g="280" class="cleverone"></div> 
        <div data-g="350" class="clevertwo" style="display:block"></div>        
      </div>
      <div class="calcratioimage calcimage">
        <div class="calcratio" style="display:block"></div>        
      </div>
      <div class="calcbeanimage calcimage">
        <div data-r="19" class="smallbeans"></div>
        <div data-r="17" class="medbeans" style="display:block"></div>
        <div data-r="15" class="largebeans"></div>
        <div data-r="12" class="extrabeans"></div>
      </div>
      <div class="calcwaterimage calcimage">
        <div data-g="280" class="twowaters"></div> 
        <div data-g="350" class="fourwaters" style="display:block"></div>     
      </div>
      <div class="calcmugimage calcimage">
        <div data-g="280" class="smallmug"></div>
        <div data-g="350" class="onemug" style="display:block"></div>
      </div>
    </div>

    <div class=calc>
      <table class=calc>
        <tr>

          <td><div class="arrowsimage"></div>
            <li>
              <div id="press-size" data-g="350" style="margin-left: 15px; margin-bottom:3px"></div>
              <ul class="calc" id="press-size-dropdown">
                <li data-g="280">Small Cone
                  <div class="dimensions">V1 - #2 - 280ml</div>
                </li>
                <li data-g="350">Regular 
                  <div class="dimensions">V2 - #4 - 350ml</div>
              </ul>
            </li>
          </td>

          <td><div class="arrowsimage"></div>
            <li><div id="press-ratio" data-r="15" style="margin-left: 15px; margin-bottom:14px">
            </div>
              <ul class="calc" id="press-ratio-dropdown">
                  <li data-r="12">1:12</li>
                  <li data-r="15">1:15</li>
                  <li data-r="17">1:17</li>
                  <li data-r="19">1:19</li>
              </ul>
            </li>
          </td>

          <td> 
            <li style="li:hover: color: white; background: #4b4642" id="press-beans">
            </li>
          </td>

          <td>
            <li  style="li:hover: color: white; background: #4b4642" id="press-water">
            </li>
          </td>

          <td><div class="arrowsimage"></div>
            <li><div id="press-servings" style="margin-left: 15px; margin-bottom:14px">
              9</div>
              <ul class="calc" id="press-servings-dropdown">
                  <li data-cell="calcmugimage" data-value="onemug" data-g="280">1 small mug</li>
                  <li data-cell="calcmugimage" data-value="twomugs" data-g="350">1 mug</li>
              </ul>
            </li>
          </td>

        </tr>
      </table>
    </div>
  </div>


<h3>Instructions</h3>
<div>
  <div class=instructions>
      <div style="float: left">
        <%= image_tag "thumbs/coffee-experiments-instructions-clever1.png",:width => "100px", :style=>"margin-left: 50px; margin-right: 30px"%>
    </div>

      <p class=instructionsleft>1. Fold the filter paper at the seam and place it in the Clever.</p>
  </div>

  <div class=instructions>
      <div style="float: right">
        <%= image_tag "thumbs/coffee-experiments-instructions-clever2.png",:width => "100px", :style=>"margin-left: 35px; margin-right: 50px"%>
    </div>

      <p class=instructionsright>2. Preheat water and using a slender spout water kettle, pour a small amount into the Clever to rinse the filter paper. You can
        run this water off into your mug to preheat the mug too.</p>
  </div>

  <div class=instructions>
      <div style="float: left">
        <%= image_tag "thumbs/coffee-experiments-instructions-clever3.png",:width => "100px", :style=>"margin-left: 50px; margin-right: 30px"%>
    </div>

      <p class=instructionsleft>3. Measure the beans on a scale and grind them in a burr grinder. Place fresh grounds into the Clever and give it a gentle shake so the grinds lie flat instead of in a heap. Tare the scale.</p>
  </div>

  <div class=instructions>
      <div style="float: right">
        <%= image_tag "thumbs/coffee-experiments-instructions-clever4.png",:width => "100px", :style=>"margin-left: 35px; margin-right: 50px"%>
    </div>

      <p class=instructionsright>4. Starting at the center, pour the water in a slow and even spiral over the grounds to fully saturate the beans and remove air pockets. Start the timer and let bloom for 30sec.</p>
  </div>

  <div class=instructions>
      <div style="float: left">
        <%= image_tag "thumbs/coffee-experiments-instructions-clever5.png",:width => "100px", :style=>"margin-left: 50px; margin-right: 30px"%>
    </div>

      <p class=instructionsleft>5. Using the scales to measure, add the remaining water to the Clever. Then steep the coffee for an additional 3:30 min to extract the necessary flavour.</p>
  </div>

  <div class=instructions>
      <div style="float: right">
        <%= image_tag "thumbs/coffee-experiments-instructions-clever6.png",:width => "100px", :style=>"margin-left: 35px; margin-right: 50px"%>
    </div>

      <p class=instructionsright>6. Discard pre-heat water from your mug. Place the Clever on the drinking vessel to decant the coffee. When the last drops are free from the Clever, enjoy.</p>
  </div>
</div>

<h3>Clever Variables</h3>
<div class=brewtable>
  <table class=brewtable>


    <tr> 
      <th>Source</th>
      <th>Bean:H2O</th>
      <th>Time</th>
      <th>Grind</th>
      <th>Temp</th>
      <th>Notes</th>
    </tr>

    <tr> 
      <td>Sight Glass</td>
      <td>1:19</br>20g:380g</td>
      <td>30s Bloom, 3:30min brew</td>
      <td>medium-coarse</td>
      <td>after the boil</td>
      <td>full, even extraction with a heavy body and mouth feel</td>
    </tr>

    <tr> 
      <td>Verve</td>
      <td>1:15</br>20g:300g</td>
      <td>30s bloom, 3min brew</td>
      <td>18-22, same as french press</td>
      <td>after the boil</td>
      <td>basically a full immersion brewer to provide a consistently amazing coffee</td>
    </tr>
    <tr> 
      <td>Coffee Experiments Preference</td>
      <td>1:17</br>24g:400g</td>
      <td>30s bloom, 3:30min brew</td>
      <td>medium</td>
      <td>96°C</td>
      <td>more full flavor range than the V-60 pourover, smooth mouth feel</td>
    </tr>
  </table>
</div>

