<h2>Brew Method: French Press</h2>
<div>
    <div  class=brewimage>
        <%= image_tag "coffee-experiments-press.png" %>
    </div>
  <p>
  	The French Press (or Press Pot, Cafetière) is a full immersion, non-filtered brew method. Some key identifiers for this method are: full bodied, heavier mouth-feel, and an oilier finish.  
  </p>
</div>





<h3>Press Brew Calculator</h3>

  <div class=calctable>
    <div class="presscalcimages">
      <div class="calcapparatusimage calcimage">
        <div class="pressone" style="display:block"></div>        
      </div>
      <div class="calcratioimage calcimage">
        <div class="calcratio" style="display:block"></div>        
      </div>
      <div class="calcbeanimage calcimage">
        <div data-r="16" class="smallbeans"></div>
        <div data-r="14" class="medbeans" style="display:block"></div>
        <div data-r="11" class="largebeans"></div>
        <div data-r="10" class="extrabeans"></div>
      </div>
      <div class="calcwaterimage calcimage">
        <div data-g="350" class="onewater"></div>
        <div data-g="600" class="twowaters"></div>
        <div data-g="1000" class="threewaters" style="display:block"></div>  
        <div data-g="1500" class="fourwaters"></div>     
      </div>
      <div class="calcmugimage calcimage">
        <div data-g="350" class="onemug"></div>
        <div data-g="600" class="twomugs" style="display:block"></div>
        <div data-g="1000" class="twobigmugs"></div>
        <div data-g="1500" class="fourmugs"></div>
      </div>
    </div>

    <div class=calc>
      <table class=calc>
        <tr>

          <td><div class="arrowsimage"></div>
            <li>
              <div id="press-size" style="margin-left: 15px; margin-bottom:3px">8c Press
                <div class="dimensions">34oz - 1000ml</div></div>
              <ul class="calc" id="press-size-dropdown">
                <li data-g="350">3c Press 
                  <div class="dimensions">12oz - 350ml</div>
                </li>
                <li data-g="600">4c Press 
                  <div class="dimensions">17-21oz - 600ml</div>
                </li>
                <li data-g="1000">8c Press
                  <div class="dimensions">34oz - 1000ml</div>
                </li>
                <li data-g="1500">12c Press
                  <div class="dimensions">51oz - 1500ml</div>
                </li>
              </ul>
            </li>
          </td>

          <td><div class="arrowsimage"></div>
            <li><div id="press-ratio" style="margin-left: 15px; margin-bottom:14px">1:14</div>
              <ul class="calc" id="press-ratio-dropdown">
                  <li data-r="10">1:10</li>
                  <li data-r="11">1:11</li>
                  <li data-r="14">1:14</li>
                  <li data-r="16">1:16</li>
              </ul>
            </li>
          </td>

          <td> 
            <li style="li:hover: color: white; background: #4b4642" id="press-beans">71g
            </li>
          </td>

          <td>
            <li  style="li:hover: color: white; background: #4b4642" id="press-water">1000g
            </li>
          </td>

          <td><div class="arrowsimage"></div>
            <li><div id="press-servings" style="margin-left: 15px; margin-bottom:14px">2 big mugs</div>
              <ul class="calc" id="press-servings-dropdown">
                  <li data-cell="calcmugimage" data-value="onemug" data-g="350">1+ mug</li>
                  <li data-cell="calcmugimage" data-value="twomugs" data-g="600">2 mugs</li>
                  <li data-cell="calcmugimage" data-value="twobigmugs" data-g="1000">2 big mugs</li>
                  <li data-cell="calcmugimage" data-value="fourmugs" data-g="1500">4 mugs</li>
              </ul>
            </li>
          </td>

        </tr>
      </table>
    </div>
  </div>


<h3>Instructions</h3>
<div>
  <div class=instructions>
      <div style="float: left">
        <%= image_tag "coffee-experiments-preheat-water.png",:width => "100px", :style=>"margin-left: 50px; margin-right: 30px"%>
    </div>

      <p class=instructionsleft>1. Preheat water and pour into press pot and desired drinking vessel to warm.</p>
  </div>

  <div class=instructions>
      <div style="float: right">
        <%= image_tag "coffee-experiments-grind-beans.png",:width => "100px", :style=>"margin-left: 35px; margin-right: 50px"%>
    </div>

      <p class=instructionsright>2. Measure beans on scale according to bean water ratio and grind beans in burr grinder. *(Remember to remove pre-heat water from vessels before adding coffee)</p>
  </div>

  <div class=instructions>
      <div style="float: left">
        <%= image_tag "coffee-experiments-bloom-press.png",:width => "100px", :style=>"margin-left: 50px; margin-right: 30px"%>
    </div>

      <p class=instructionsleft>3. Tare press pot with beans on a scale. Pour enough water to cover all the beans, stir, and let bloom.</p>
  </div>

  <div class=instructions>
      <div style="float: right">
        <%= image_tag "coffee-experiments-immersion-press.png",:width => "100px", :style=>"margin-left: 35px; margin-right: 50px"%>
    </div>

      <p class=instructionsright>4. Using the scale to measure, pour the remaing water ratio into the press pot and replace lid with plunger, but do not plunge.</p>
  </div>

  <div class=instructions>
      <div style="float: left">
        <%= image_tag "coffee-experiments-plunge-press.png",:width => "100px", :style=>"margin-left: 50px; margin-right: 30px"%>
    </div>

      <p class=instructionsleft>5. After immersion time is finished, with control gently press down on plunger over 10-20 sec.</p>
  </div>

  <div class=instructions>
      <div style="float: right">
        <%= image_tag "coffee-experiments-decant-press.png",:width => "100px", :style=>"margin-left: 35px; margin-right: 50px"%>
    </div>

      <p class=instructionsright>6. Dispose of pre-heat water and decant brew from press pot into warmed vessel.</p>
  </div>
</div>

<h3>Table 1: Brew Method Variables for French Press</h3>
<div class=brewtable>
  <table class=brewtable>
    <tr> 
    <th>Source</th>
    <th>Bean:H2O</th>
    <th>Time</th>
    <th>Grind</th>
    <th>Temp</th>
    <th>Bean</th>
    </tr>

    <tr> 
      <td>Blue Bottle</td>
      <td>1:10</td>
      <td>30s Bloom, 4min</td>
      <td>Coarse</td>
      <td>Boil</td>
      <td>fruity, heavy, creamy</td>
    </tr>

    <tr> 
      <td>Stumptown</td>
      <td>1:16</td>
      <td>4min</td>
      <td>Coarse</td>
      <td>Just to a boil</td>
      <td>n/a</td>
    </tr>

    <tr> 
      <td>Ritual Coffee</td>
      <td>1:16</td>
      <td>4min</td>
      <td>Medium</td>
      <td>96°C</td>
      <td>TBD</td>
    </tr>

    <tr> 
      <td>Sight Glass</td>
      <td>1:14</td>
      <td>30sec, Stir, 3:30min</td>
      <td>Coarser</td>
      <td>Boil, let cool a few min</td>
      <td>TBD</td>
    </tr>

    <tr> 
      <td>Verve</td>
      <td>1:11</td>
      <td>30sec, Stir, 3min</td>
      <td>Coarse</td>
      <td>90°-96°C</td>
      <td>TBD</td>
    </tr>

  </table>
</div>

