<!DOCTYPE html>
<html>
<head>
  <title>CoffeeExperiments</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h6>
      The Coffee Experiments
    </h6>
  	<nav>
      <table>
        <tr>
          <td class="<%= "current" if request.path == root_path %>">
            <a href="<%= root_path %>">The Experiments</a>
          </td>
          <td class="<%= "current" if request.path == methods_index_path %>">
            <a href="<%= methods_index_path %>">Methods</a>
          </td>
          <td class="<%= "current" if request.path == questions_index_path %>">
            <a href="<%= questions_index_path %>">Dear Dr. Bean</a>
          </td>
          <td class="<%= "current" if request.path == ideas_index_path %>">
            <a href="<%= ideas_index_path %>">Ideas</a>
          </td>
        </tr>
      </table>
  	</nav>
  </header>
  <article>
    <div> <%= yield %> </div>
    
    <footer>
    </footer>

  </article>

</body>
</html>
