<!DOCTYPE html>
<html>
<head>
  <title>CoffeeExperiments</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  	<nav>
  		<a href="<%= root_path %>">The Experiments</a>
  		<a href="<%= methods_index_path %>">Methods</a>
  		<a href="<%= questions_index_path %>">Dear Dr. Bean</a>
  		<a href="<%= ideas_index_path %>">Ideas</a>
  	</nav>
  </header>
  <article>
    <div> <%= yield %> </div>
    
    <footer>
    </footer>

  </article>

</body>
</html>
