-<!DOCTYPE html>
<html>
<head>
  <title>CoffeeExperiments</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h6>
      The Coffee Experiments
    </h6>
  	<nav>
      <table class=nav>
        <tr>
          <td class="<%= "current" if request.path == root_path %>">
            <a href="<%= root_path %>">The Experiments</a>
          </td>
          <td class="<%= "current" if request.path == methods_index_path %>">
            
              <li>
                <a href="<%= methods_index_path %>">Methods</a>
                <code><ul id="menu">
                <ul>
                  <li> <a href="<%=methods_frenchpress_path %>">French Press</a></li>
                  <li> <a href="<%=methods_clever_path %>">Clever</a></li>
                  <li> <a href="<%=methods_pourover_path %>">Pour Over</a></li>
                   <li> <a href="<%=methods_aeropress_path %>">Aeropress</a></li>
                  <li> <a href="<%=methods_mokapot_path %>">Moka Pot</a></li>
                </ul>
                </ul></code>
              </li>
          </td>
          <td class="<%= "current" if request.path == questions_index_path %>">
            <a href="<%= questions_index_path %>">Dear Dr. Bean</a>
          </td>
          <td class="<%= "current" if request.path == ideas_index_path %>">
            <a href="<%= ideas_index_path %>">Ideas</a>
          </td>
        </tr>
      </table>
  	</nav>

  </header>
  <article>
    <div> <%= yield %> </div>
    
    <footer><div></div>
    </footer>

  </article>

</body>
</html>
